<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
    <div *ngIf="isModify" class="update-post">
        <mat-form-field>
            <textarea [(ngModel)]="updatePost.body" matInput placeholder="Change Text"></textarea>
        </mat-form-field>
        <div class="image-container">
            <mat-icon aria-label="Remove Image" (click)="removeImage()">close</mat-icon>
            <img mat-card-image class="post-image" *ngIf="updatePost.previewImage" mat-card-image src="{{updatePost.previewImage}}" alt="Photo">
        </div>
        <mat-card-actions align="end">
            <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
            <button mat-icon-button color="accent" (click)="file.click()">
              <mat-icon aria-label="Choose an image">image</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Post it" (click)="savePost()">
              <mat-icon aria-label="Save post">save</mat-icon>
            </button>
          </mat-card-actions>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button *ngIf="checkUser()" mat-icon-button color="primary" (click)="modifyPost()">
        <mat-icon  matBadgeColor="accent" matBadgeSize="medium"
        aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" mat (click)="reactPost(reactionMark.Like)">
      <mat-icon matBadge="{{likes}}" matBadgeColor="accent" matBadgeSize="medium"
         aria-label="Like">thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="reactPost(reactionMark.Dislike)">
        <mat-icon matBadge="{{dislikes}}" matBadgeColor="accent" matBadgeSize="medium"
           aria-label="Dislike">thumb_down_alt</mat-icon>
      </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
    <button *ngIf="checkUser()" mat-icon-button color="warn" (click)="removePost()">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment"></app-comment>
  </div>
</mat-card>
